section 
	.container(class="relative flex flex-col-reverse md:flex-row lg:block pt-[50px] lg:pt-[99px]") 
		.text(class="md:w-1/2 lg:text-justify")
			div(class="text-[22px] text-[#676A73]") Dergi Amacı ve Kapsamı
			
			+headline("Profuture Teknoloji Dergisi", {extraClass: "mb-[13px]"})
			p(class="min-h-[145px] mb-4 xl:mb-0") Profuture Teknoloji Dergisi, 2022 yılında yayın hayatına başlayan; teknoloji, inovasyon, dijital dönüşüm ve geleceğin üretim modelleri ekseninde sosyal bilimler ile mühendislik ve fen bilimlerini bir araya getiren, uluslararası hakemli ve açık erişimli bir akademik yayındır.

			+buttonGeneral("Detay", {
				href: "javascript:;", 
				variant: "white",
				extraClass:"w-[150px] justify-between",
				icon: '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-black group-hover:fill-white grow-0 shrink-0" preserveAspectRatio="xMidYMid meet"><path d="M15.9639 7.81854C15.8593 7.309 15.5836 7.03981 15.3364 6.80907L9.03257 0.425417C8.4716 -0.141806 7.56835 -0.141806 7.00738 0.425417C6.73165 0.694607 6.58903 1.05994 6.58903 1.45411C6.58903 1.83867 6.74115 2.204 7.00738 2.4828L11.0578 6.57834H1.39767C0.627526 6.57834 0 7.21286 0 8.0012C0 8.78954 0.627526 9.41445 1.39767 9.41445H11.0578L7.10245 13.4138C6.54148 13.9811 6.52247 14.8944 7.04541 15.4905C7.32114 15.7981 7.71097 15.9904 8.11981 16H8.16735C8.56668 16 8.93749 15.8462 9.22273 15.5578L15.4029 9.3087C15.5836 9.12603 16.1255 8.57804 15.9734 7.82815L15.9639 7.81854Z"></path></svg>', 
				iconPos: "right"})

		figure(class="lg:absolute -top-70 right-0") 
			img(class="max-w-full",src= images + "/dergison-1.png", alt="")