extends  ../layouts/layout

block variables
	-var pageTitle = "Profuture"
	//- SEO
	-var desc = "Lorem Ipsum Dolor Sit Amet"
	-var keywords = "Home,Page"
	-var pageRole = "home"


block content
	section
		include ../components/hero-banner
		include ../components/about-magazine
		include ../components/magazines
		include ../components/submit-article
		include ../components/current-articles