extends  ../layouts/layout

block variables
	-var pageType = "header-dark-mobile"
	-var pageTitle = "Accept Payments"
	//- SEO
	-var desc = "Accept Payments"
	-var keywords = "Home,Page"
	-var pageRole = "home"


block content
	section
		include ../components/hero-banner
		include ../components/about-magazine
		include ../components/magazines
		include ../components/submit-article
		include ../components/current-articles